body {
    font-family: "NB International Web", Helvetica Neue, Helvetica, Arial,
      sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.2;
    color: #000;
  }
  
  /*  */
  header {
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #header_container {
    padding: 34px 23px 0;
    display: flex;
    justify-content: space-between;
  }
  
  #header_left a {
    display: flex;
    padding: 10px 0px;
    text-decoration: none;
    color: #000;
  }
  
  #header_left_icon {
    font-size: 2rem;
    margin-right: 5px;
  }
  
  #header_left_letter {
    height: 32px;
    line-height: 32px;
    letter-spacing: 0.02rem;
  }
  
  #header_center_logo {
    width: 52px;
    height: 52px;
  }
  
  #header_center_logo svg {
    width: 52px;
    height: 52px;
  }
  
  #header_right {
    display: flex;
    height: 52px;
    line-height: 52px;
  }
  
  #header_right_icon {
    padding-top: 10px;
    margin-right: 5px;
    width: 32px;
    height: 42px;
    cursor: pointer;
  }
  
  #header_right_icon span {
    font-size: 32px;
  }
  
  #header_right_menu {
    display: flex;
  }
  
  #header_right_menu a {
    display: block;
    height: 52px;
    letter-spacing: 0.02rem;
    text-decoration: none;
    color: #000;
  }
  
  #header_right_menu a:not(#cart) {
    display: none;
  }
  
  #header_right_menu span {
    display: none;
    margin: 0 3px;
  }
  
  /* Shop button */
  nav {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 130px;
    width: 100%;
    background: #fff;
    opacity: 0;
    transform: translateY(-2000px);
    transition: ease-in-out;
    transition: opacity 0.7s, transform 0.7s;
    z-index: 100;
  }
  
  #nav_grid {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto 52px;
  }
  
  .nav_grid_list {
    width: 80%;
    margin-bottom: 30px;
    border-top: 1px solid #000;
  }
  
  .nav_grid_list h6 {
    margin: 3px 0 20px 0;
  }
  
  .nav_grid_items a {
    display: block;
    margin-bottom: 6px;
    letter-spacing: 0.02rem;
    text-decoration: none;
    color: #000;
    font-size: 0.7rem;
  }
  
  #nav_images {
    justify-content: space-between;
    width: 95%;
    margin: 0 25px 20px 25px;
  }
  
  #nav_images a {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    text-decoration: none;
    color: #000;
  }
  
  #nav_images img {
    display: block;
    width: 95%;
  }
  
  #nav_images h6 {
    margin: 10px 0;
    font-weight: 300;
  }
  
  /* Search button */
  #search_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #fff;
    opacity: 0;
    transform: translateY(-200px);
    transition: ease-in-out;
    transition: opacity 0.5s, transform 0.5s;
  }
  
  #search {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #search span {
    display: block;
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
  
  #search_bar {
    display: flex;
    margin: 0 10px;
  }
  
  #search_bar_text {
    border: 0px;
    border-bottom: 1px solid #000;
  }
  
  #search_bar_btn {
    border: 0px;
    background: #000;
    color: #fff;
    padding: 10px 20px;
  }
  
  #close_search {
    cursor: pointer;
  }
  
  /* Cart button */
  #shop_cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
    padding: 30px 0 30px 30px;
    background: #fff;
    opacity: 0;
    transform: translateX(800px);
    transition: ease-in-out;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 100;
  }
  
  #cart_title,
  #cart_sum {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
  }
  
  #cart_title div {
    border-top: 1px solid #000;
  }
  
  #cart_title h6 {
    margin: 3px;
  }
  
  #cart_title span {
    font-size: 32px;
    transform: translateY(-10px);
  }
  
  #cart_items {
    width: 80%;
    height: 400px;
  }
  
  #cart_items div {
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  
  #cart_items div:not(#last_item) {
    border-bottom: 1px dotted #000;
  }
  
  #cart_btn {
    width: 85%;
    margin-top: 30px;
  }
  
  #cart_btn input {
    width: 100%;
    height: 100px;
    border: 0px;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  /* media query */
  @media (min-width: 600px) {
    #header_left a {
      padding: 10px 0;
    }
  
    #header_right_menu a:not(#cart),
    #header_right_menu span {
      display: contents;
    }
  
    #header_right_icon {
      margin-right: 15px;
    }
  
    #cart {
      margin: 0 20px;
    }
  
    /* Shop button*/
    #nav_grid {
      display: flex;
      justify-content: space-between;
      flex-direction: unset;
      flex-wrap: unset;
    }
  
    .nav_grid_list {
      width: 20%;
      margin-right: 25px;
      margin-bottom: 0;
    }
  
    #nav_images {
      display: flex;
    }
  
    #nav_images a {
      margin-bottom: 0px;
    }
  
    #search_overlay {
      height: 230px;
    }
  
    /* Search  button */
    #search {
      width: 90%;
      display: flex;
      justify-content: space-between;
    }
  
    #search span {
      font-size: 64px;
      width: 64px;
      height: 64px;
      padding-top: 24px;
    }
  
    #search_bar {
      width: 100%;
    }
  
    #search_bar input {
      height: 120px;
      width: 100%;
    }
  
    #search_bar_text {
      min-width: 70%;
    }
  
    #search_bar_btn {
      margin-right: 30px;
    }
  
    /* Cart button */
    #shop_cart {
      width: 50%;
      margin-left: 50%;
    }
  }
  
  /* Hidden for menu*/
  nav.appear {
    opacity: 1;
    transform: translateY(0px);
  }
  
  #search_overlay.visible {
    opacity: 1;
    transform: translateY(0px);
  }
  
  #shop_cart.sight {
    opacity: 1;
    transform: translateX(0px);
  }

/*  */

.margin-top {
    margin-top: 100px;
}

body {
    font-family: "akzidenz-grotesk-extended", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}


.top-list{
    width: 90%;
    font-weight: 400;
    letter-spacing: 0.8px;
    display: flex;
    margin: 0px 39px;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
    padding-top: 25px;
    font: inherit;
    vertical-align: baseline;
}

.top-list p{
    padding-right: 49px;
    padding-left: 20px;
    border-right: 1px solid black;
    color: #888888;
    font-size: 25px;

}
.top-list li {
    display: inline-block;
    margin-left: 63px;
    font-size: 25px;
}

.top-list li:hover {
    text-decoration: underline;
}


.main img:hover {
    transform:scale(1.2,1.2);
    transition:1s all;
}

.main {
    margin-left: 140px;
    margin-right: 140px;
}

.main1 {
    display: flex;
    margin-top: 100px;
    position: relative;
}


.main img {
    width: 100%;
}

.img1 {
    width: 60%;
    overflow: hidden;
}
.img2 {
    width: 60%;
    overflow: hidden;
    margin-left: 63px;
}
.img3 {
    width: 60%;
    overflow: hidden;
}
.img4 {
    width: 60%;
    overflow: hidden;
    margin-left: 85px;
}
.img5 {
    width: 60%;
    overflow: hidden;
}
.img6 {
    width: 60%;
    overflow: hidden;
    margin-left: 130px;
}



h4 {
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8;
    margin: 10px 0px;
}

.main1-right {
    padding-left: 56px;
}

h2 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 400;
}



.main2 {
    display: flex;
    margin-top: 170px;
}

.main3 {
    position: relative;
    display: flex;
    margin-top: 170px;
}

.main3-right {
    padding-left: 56px;
}

.main4 {
    position: relative;
    display: flex;
    margin-top: 170px;
    height: 445px;
}


.main5 {
    position: relative;
    display: flex;
    margin-top: 170px;
}

.main5 img {
    width: 60%;
}

.main5-right {
    padding-left: 56px;
}

.main6 {
    position: relative;
    display: flex;
    margin-top: 170px;
    height: 445px;
}

footer {
    background-color: black;
    height: 246px;
    display: flex;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 150px;
}

.left {
    color: white;
    margin-left: 40px;
    padding: 20px;
}

.left ul {
    list-style: none;
    padding: 0px;
}

.left li {
    padding-top: 20px;
}



.center {
    margin-left: 130px;
    padding: 50px 0px;
}

.center h5 {
    margin-left: 26px;
}

.center h5 {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
}

.icon ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.icon li {
    width: 18px;
    padding-left: 26px;
}

.icon path {
    fill: white;
}

.right {
    margin-left: 160px;
    padding: 50px 0px;
}

.email {
    display: flex;
}

.email input {
    height: 50px;
    width: 300px;
    background-color: black;
    border: 1px solid white;
    padding-left: 30px;
}


.right h6 {
    width: 130px;
    height: 41px;
    background-color: white;
    font-weight: 100;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 13px;
}




.button1{
    display:inline-block;
    background:white;
    width: 300px;
    padding:10px 10px 10px 0px;
    text-align: left;
    color: black;
    margin:5px;
    cursor:pointer;
    position: relative;
    text-decoration: none;
    font-weight: 330;
    margin-top: 160px;
    font-size: 30px;
    text-transform: uppercase;
}
.button1::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 80px;
    height: 1px;
    background:black;
    transition: .1s;
}
.button1::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 8px;
    height: 8px;
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
    transform: rotate(-135deg);
    transition: 1s;
}
.button1:hover::before{
    left: 160px;
    width: 30px;
}
.button1:hover::after{
    left: 180px;
}

.button2{
    display:inline-block;
    background:white;
    width: 300px;
    padding:10px 10px 10px 0px;
    text-align: left;
    color: black;
    margin:5px;
    cursor:pointer;
    position: relative;
    text-decoration: none;
    font-weight: 330;
    margin-top: 70px;
    font-size: 30px;
    text-transform: uppercase;
}
.button2::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 80px;
    height: 1px;
    background:black;
    transition: .1s;
}
.button2::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 8px;
    height: 8px;
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
    transform: rotate(-135deg);
    transition: 1s;
}
.button2:hover::before{
    left: 160px;
    width: 30px;
}
.button2:hover::after{
    left: 180px;
}

.button3{
    display:inline-block;
    background:white;
    width: 300px;
    padding:10px 10px 10px 0px;
    text-align: left;
    color: black;
    margin:5px;
    cursor:pointer;
    position: relative;
    text-decoration: none;
    font-weight: 330;
    margin-top: 230px;
    font-size: 30px;
    text-transform: uppercase;
}
.button3::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 80px;
    height: 1px;
    background:black;
    transition: .1s;
}
.button3::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 8px;
    height: 8px;
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
    transform: rotate(-135deg);
    transition: 1s;
}
.button3:hover::before{
    left: 160px;
    width: 30px;
}
.button3:hover::after{
    left: 180px;
}

.button4{
    display:inline-block;
    background:white;
    width: 300px;
    padding:10px 10px 10px 0px;
    text-align: left;
    color: black;
    margin:5px;
    cursor:pointer;
    position: relative;
    text-decoration: none;
    font-weight: 330;
    margin-top: 80px;
    font-size: 30px;
    text-transform: uppercase;
}
.button4::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 80px;
    height: 1px;
    background:black;
    transition: .1s;
}
.button4::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 8px;
    height: 8px;
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
    transform: rotate(-135deg);
    transition: 1s;
}
.button4:hover::before{
    left: 160px;
    width: 30px;
}
.button4:hover::after{
    left: 180px;
}

.button5{
    display:inline-block;
    background:white;
    width: 300px;
    padding:10px 10px 10px 0px;
    text-align: left;
    color: black;
    margin:5px;
    cursor:pointer;
    position: relative;
    text-decoration: none;
    font-weight: 330;
    margin-top: 360px;
    font-size: 30px;
    text-transform: uppercase;
}
.button5::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 80px;
    height: 1px;
    background:black;
    transition: .1s;
}
.button5::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 8px;
    height: 8px;
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
    transform: rotate(-135deg);
    transition: 1s;
}
.button5:hover::before{
    left: 160px;
    width: 30px;
}
.button5:hover::after{
    left: 180px;
}

.button6{
    display:inline-block;
    background:white;
    width: 300px;
    padding:10px 10px 10px 0px;
    text-align: left;
    color: black;
    margin:5px;
    cursor:pointer;
    position: relative;
    text-decoration: none;
    font-weight: 330;
    margin-top: 80px;
    font-size: 30px;
    text-transform: uppercase;
}
.button6::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 80px;
    height: 1px;
    background:black;
    transition: .1s;
}
.button6::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 8px;
    height: 8px;
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
    transform: rotate(-135deg);
    transition: 1s;
}
.button6:hover::before{
    left: 160px;
    width: 30px;
}
.button6:hover::after{
    left: 180px;
}